.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}
.card-list a {
  text-decoration: none;
  color: inherit;
}
.card-list img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
.col-3 {
  flex: 0 0 calc(25% - 20px); 
  max-width: calc(25% - 20px); 
  margin: 10px 0;
}
.card-list h3 {
  margin: 10px 0;
}
