.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 20px;
}

.card-list a {
  text-decoration: none;
  color: inherit;
}

.card-list > div {
  flex: 0 0 calc(25% - 20px);
  margin: 10px;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.card-list img {
  width: 50%;
  height: auto;
  border-radius: 8px;
}

.card-list h3 {
  margin: 10px 0;
}
