.header {
  background-color: #1d000d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: white;
}

.logo img {
  width: 100%;
}

.button-container {
  display: flex;
}

.search {
  margin-right: 20px;
}

.search-button,
.home-link {
  background-color: #ff0000;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
}

.search-button:hover,
.home-link:hover {
  background-color: #cc0000;
}
